version: '3.7'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=${DATABASE_URL}

    networks:
      - healthaid-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    networks:
      - healthaid-network

  db:
    image: mysql:8.0  # Using MySQL 8.0 version
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - healthaid-network

networks:
  healthaid-network:

volumes:
  mysql_data:
