.auth-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 600px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
  gap: 1rem;
}

.field-name {
  text-align: left;
  margin-bottom: 0.5rem;
}

.input {
  width: 600px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 0 0.5rem;
}

.action-text {
    margin-bottom: 1rem;
}

.auth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.login-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 8rem;
  gap: 1rem;
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #888;
  font-size: 1rem;
}

.line::before,
.line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 1rem;
}

@media (max-width: 767px) {
  .auth-container {
    height: 60vh;
    width: 250px;
    margin: 2rem;
  }

  .form-field {
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    gap: 0.1rem;
    font-size: small;
  }

  .field-name {
    text-align: left;
    margin-bottom: 0.1rem;
  }

  .input {
    width: 200px;
    padding: 0 0.2rem;
  }

  .action-text {
    margin-bottom: 0.1rem;
  }

  .auth-button {
    margin: 2rem;
  }

  .login-form-field {
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
    gap: 3rem;
  }
}
