.content-container {
  padding: 2rem;
  color: white;
  background: #0F4C5C;
  width: 100%;
  margin: 100px auto 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.content-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.feature-content {
  overflow-x: auto;
  padding: 1rem 0;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
}

.feature-content::-webkit-scrollbar {
  display: none;               /* Safari and Chrome */
}

.feature-content ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
  flex-wrap: nowrap;
}

.feature-content li {
  background: #1E5D5C;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  width: 250px;
  flex-shrink: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.feature-content li:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.feature-content h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.feature-content p {
  font-size: 0.95rem;
  font-weight: 400;
}

@media (max-width: 950px) {
  .feature-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 50vh;
  }

  .feature-content ul {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .feature-content li {
    font-weight: 300;
    width: 70%;
  }
}