.message h1 {
    color: #2C7A7B;
    font-size: 3rem;
    font-weight: bold;
}

.message p {
    color: #0F4C5C;
    font-size: 1.2rem
}

.message button {
    border-radius: 12px;
    border: solid #0F4C5C;
    width: 150px;
    height: 40px;
    font-weight: 600;
    background: #0F4C5C;
    font-size: 1.0rem;
    color: white;
}

@media (max-width: 950px) {
  .message h1 {
    font-size: 2.5rem
  }
}

@media (max-width: 500px) {
  .message h1 {
    font-size: 2rem
  }
}