.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.page-content {
  flex: 1;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
}

.sidebar {
  width: 250px;
  padding: 1rem;
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
