.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  width: 200px;
  top: 40px;
}

.page-content {
  flex: 1;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  padding: 6rem 0;
  position: relative;
}

.sidebar {
  width: 250px;
  padding: 1rem;
  height: calc(100vh - 2rem);
  box-sizing: border-box
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border-radius: 24px;
  position: relative;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.asidebar {
  transition: transform 0.3s ease;
  height: fit-content;
}

.layout-container.sidebar-closed .asidebar {
  transform: translateX(-100%);
}


.layout-container.sidebar-open .main-content {
  transform: translateX(10%);
  transition: transform 0.3s ease;
}

.layout-container.sidebar-closed .main-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
  border-radius: 0;
}


.open-sidebar-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 50px;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .main-content {
    height: 100vh;
    width: 100%;
  }

  .layout-container.sidebar-open .main-content {
    transform: translateX(30%);
    transition: transform 0.3s ease;
  }
}
