.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  width: 200px;
  top: 40px;
}

.page-content {
  flex: 1;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  padding: 6rem 0;
  position: relative;
}

.sidebar {
  width: 250px;
  padding: 1rem;
  height: calc(100vh - 2rem);
  box-sizing: border-box
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border-radius: 24px;
  position: relative;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.asidebar {
  transition: transform 0.3s ease;
  height: fit-content;
}

.layout-container.sidebar-closed .asidebar {
  transform: translateX(-100%);
}

.layout-container.sidebar-open .main-content {
  transform: translateX(10%);
  transition: transform 0.3s ease;
}

.layout-container.sidebar-closed .main-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
  border-radius: 0;
}

.open-sidebar-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 50px;
}

.hidden {
  display: none;
}

/* auth layout styling */
.auth-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.auth-page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
  padding-right: 7rem;
}

.logo{
  top: 1rem;
}

.hero-message {
  margin-top: 3rem;
  color: #ffffff;
  font-size: x-large;
  font-weight: bold;
  width: 900px;
  text-align: left;
}

.auth-main-content {
  margin-top: 3rem;
  background-color: #ffffff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.bottom-tag-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: right;
}

.bottom-tag-text div {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  width: 650px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 767px) {
  .main-content {
    height: 100vh;
    width: 100%;
  }

  .layout-container.sidebar-open .main-content {
    transform: translateX(30%);
    transition: transform 0.3s ease;
  }

  .auth-page-content {
    width: 100%;
  }

  .auth-main-content {
    height: 500px;
    width: 200px;
    margin-top: 0rem;
    margin-right: 1rem;
    border-radius: 1rem;
  }

  .hero-message {
    margin-top: 5rem;
    font-size: small;
    font-weight: bold;
  }

  .bottom-tag-text {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: right;
  }

  .bottom-tag-text div {
    width: 250px;
    margin: 0 auto;
    text-align: left;
  }
}
