.asidebar {
  width: 45%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease; /* smooth width transition */
  overflow: hidden; /* hide content when collapsed */
}

.toggle-button {
  margin-bottom: 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: white;
}

.asidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.asidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  margin-bottom: 70px;
}

.asidebar nav ul li a:hover {
  background-color: #173227;
  color: #fff;
}

.sidebar-close-btn {
  background: rgba(242, 241, 241, 0.6);
  border: 1px solid #F0F0F0;
  color: #F0F0F0;
  font-size: 18px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

